body {
  min-height: 100vh;
  background-repeat: no-repeat;
  font-size: 1rem;
  background: #3d88af;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.star,
.planet {
  border-radius: 100%;
  position: absolute;
  display: block;
}

.star {
  -webkit-animation: twinkle 2s linear 0s infinite normal;
          animation: twinkle 2s linear 0s infinite normal;
  background: #f6f6f6;
  z-index: 1;
  left: 100%;
  top: 100%;
}

.planet {
  -webkit-animation: twinkle 5s linear 0s infinite normal;
          animation: twinkle 5s linear 0s infinite normal;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  z-index: 2;
  left: 300%;
  top: 300%;
}

@-webkit-keyframes twinkle {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes twinkle {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.c-actions {
  overflow: hidden;
  order: 3;
  margin-left: 30px;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.c-actions span {
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  color: #222;
  font-size: 1.5rem;
  opacity: 0;
  transform: translateX(100px);
}
.c-actions span.fa-pencil {
  margin-left: 1px;
}
.c-actions span.fa-pencil:hover {
  color: rgb(57, 21, 218);
}
.c-actions span.fa-trash:hover {
  color: #fe4444;
}

.c-todo-list {
  margin-top: 16px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-todo-list:hover .c-actions {
  display: block;
}
.c-todo-list:hover .c-actions span {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.2s ease;
}

#complete-ul .c-todo-list {
  justify-content: flex-start;
}

.c-item-name {
  position: relative;
  margin-left: 10px;
  min-width: 300px;
  order: 2;
}

.priority-btn:hover {
  color: #fbaa0f;
}

.c-priority .c-checkbox::before {
  visibility: visible;
}
.c-priority--high .priority-btn {
  color: #fbaa0f;
}
.c-priority--high .c-checkbox::before {
  background: #fbaa0f;
}
.c-priority--higher .priority-btn {
  color: #fe4444;
}
.c-priority--higher .c-checkbox::before {
  background: #fe4444;
}

.checked .fa-pencil,
.checked .priority-btn {
  display: none;
}

.c-buttons {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  order: 3;
}
.c-buttons button {
  font-size: 10px;
  width: 30.01px;
  height: 30px;
  border-radius: 10px;
  background: #999;
  padding: 0;
}

button {
  border-radius: 10px;
  background: #fff;
  padding: 4px 16px;
}
button:hover {
  background: red;
}

.c-checkbox {
  position: relative;
  order: 1;
}
.c-checkbox::before {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  visibility: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
  top: -4px;
  left: -30px;
}

.checked .c-checkbox::before {
  display: none;
}

.p-complete-area .c-checkbox::before {
  visibility: hidden;
}

.js-checkbox {
  display: none;
}

.hide {
  display: none;
}

.c-empty-tasks {
  color: rgb(57, 21, 218);
  position: relative;
  margin-top: 20px;
  margin-left: 52px;
}
.c-empty-tasks::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 2px;
  background: rgb(57, 21, 218);
  top: 5px;
  left: -20px;
}

.hidden {
  display: none;
}

.c-input {
  position: absolute;
  display: none;
  font-size: 1rem;
  color: #111;
  background: transparent;
  box-sizing: border-box;
  top: 5px;
  left: 20px;
  border: none;
  border-bottom: 2px solid rgb(57, 21, 218);
  z-index: 1;
  transition: width 0.2s ease;
}
.c-input:focus {
  outline: none;
  width: 100%;
}
.c-input.show {
  display: block;
}

.p-input-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  height: 50px;
  margin: 10px 0;
  padding-left: 20px;
  border-radius: 10px;
  background: rgba(233, 112, 233, 0.5);
  box-shadow: 0 25px 45px rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.p-input-area p {
  color: rgb(57, 21, 218);
}
.p-input-area input {
  border-radius: 10px;
  background: #fff;
  padding: 6px 16px;
}

.p-complete-area {
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.p-incomplete-area {
  min-height: 200px;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  background: rgba(233, 112, 233, 0.5);
  box-shadow: 0 25px 45px rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.p-todo-wrap {
  min-width: 520px;
}
.p-todo-wrap ul {
  padding-left: 30px;
}
/*# sourceMappingURL=style.css.map */